.list{
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    padding: 20px;
    margin-bottom: 10px;
}
.list__item {
    margin: 5px
}
.list__item_content {
    font-weight: bold;
}
.list__item_select{
    background-color: gold;
    border: 4px solid blue;
}