.li__task{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 4px solid black;
}
.li__span {
    font-weight: bold;
}
#root{
    display: flex;
}
.li__div {
    margin: 5px
}
.button {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 1px solid black;
    padding: 5px;
}